<h1>New Itinerary</h1>

<form [formGroup]="itineraryForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name</label>
    <input 
      formControlName="itineraryName"
      type="text"
      size="50" 
      placeholder="e.g. 2 weeks in Italy" />
  </div>
  
  <div>
    <label>Dates</label>
    <input 
      formControlName="date"
      type="date" /> 
    <span>to</span>
    <input type="date" />
  </div>
  
  <div>
    <label>Trip summary</label>
    <input 
      formControlName="summary"
      type="text"
      size="100"
      placeholder="e.g. Venice, Florence, Tuscany, Rome, and Cinque Terra"/>
  </div>

  <button type="submit">Create itinerary</button>
</form>